/* @group gradient-veritical() */
/* @end */
/* @group background-clip() */
/* @end */
/* Box Group
========================== */
/* @option: box-display() */
/* @end */
/* @group box-shadow() */
/* @end */
/* Border Group
========================== */
/* @group rounded() */
/* @end */
/* Transform Group
========================== */
/* @group matrix() */
/* @end */
/* @group rotate() */
/* @end */
/* @group scale() */
/* @end */
/* @group translate() */
/* @end */
/* @group skew() */
/* @end */
/* Transition
========================== */
/* Animation Group
========================== */
/* Column
========================== */
/* Misc Group
========================== */
html {
  background: #ffffff;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
html,
body {
  height: 100%;
}
body .brand-logo {
  float: left;
  text-align: left;
}
body .welcome-name {
  float: right;
  text-align: right;
  padding: 0px;
}
body .navbar {
  background: #cccccc;
}
body .navbar-default .navbar-nav > li > a {
  color: #333333;
}
body .navbar-default .navbar-nav > li > a:hover {
  color: #333333;
}
