html {
  background: @white-color;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
html,
body {
  height: 100%;
}
body{
  .brand-logo{
    float: left;
    text-align: left;
  }
  .welcome-name{
    float: right;
    text-align: right;
    padding: 0px;
  }
  .navbar{
    background: @gray-base;
  }
  .navbar-default .navbar-nav>li>a{
    color:@black-color;
  }

  .navbar-default .navbar-nav>li>a:hover{
    color:@black-color;
  }
}

