<footer>
    <div class="container no-padding clearfix">
        <div class="col-xs-12 footer-border below-footer clearfix">
            <span class="col-xs-12 no-padding">Equinix &#169; <%= (new Date()).getFullYear() %>
                All Rights Reserved.</span>
        </div>
    </div>
</footer>
</body>
</html>
