<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div id="nav-logo" class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-4 no-padding">
                    <a href="/">
                        FBD-Equinix
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5 welcome-name float-right no-padding align-right">
                    <h4 data-toggle="dropdown" class="welcome-display clearfix dropdown-toggle">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding"><span id="welcome-name">Adam</span><span class="glyphicon glyphicon-triangle-bottom"></span></div>
                    </h4>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li>
                            <div id="companyRole">Admin User</div>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="nav-bar" class="col-xs-12">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#navbar-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="nav-bar-dashboard"><a href="#">Dashboard</a></li>
                    <li id="nav-bar-visit"><a href="#">Work Visit</a></li>
                    <li id="nav-bar-order"><a href="#">VC Ordering</a></li>
                    <li id="nav-bar-smart"><a href="#">Smart Hands</a></li>
                    <li id="nav-bar-summary"><a href="#">Port Summary</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>
</nav>
