<% include ../includes/header.ejs %>
<% include ../includes/header_nav.ejs %>
<div id="content-container" class="container no-padding">

    <div class="row">
        <%-body%>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
<% include ../includes/footer.ejs %>
